
<div class="container-fluid">
	<h3>For each admin:</h3>

	<div class="pending-approval">
		<%= render 'pending_approval' %>
	</div>

	<div class="pending-submissions">
		<%= render 'past_due' %>
	</div>
</div>