	<% if admin_types.include?(current_user.try(:type)) %>
		<%= render 'admin' %>
	<% else %>
		<%= render 'employee' %>
	<% end %>
<h2 style="margin-left: 50px;">Notes From Payroll</h2>
<div class="jumbotron">
	<h2>
		Hello, all!
	</h2>
	<p>
		You will receive weekly text/Email reminders to submit OT.  If you wish to update your contact preferences it can be done from your account.
		This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
	</p>
	<p>
		<a class="btn btn-primary btn-large pull-right" href="#">Accept</a>
	</p>
	<p><%= Date.current.strftime('%a, %d %b %Y') %></p>
</div>

<h3 style="margin-left: 50px;">From the desk of ... </h3>
<div>
	Something else
</div>

<h3 style="margin-left: 50px;">Coming Soon ...</h3>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<br>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<br>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

