<h1>Posts</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Date
			</th>
			<th>
				User
			</th>
			<th>
				Rationale
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-active">
			<td>
				Sample
			</td>
			<td>
				Today
			</td>
			<td>
				Smith
			</td>
			<td>
				Approved OT
			</td>
		</tr>
		<%= render @posts %>
	</tbody>
</table>
